In [3]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
candy_file = "Resources/candy-data.csv"

# Read School and Student Data File and store into Pandas DataFrames
candy_data = pd.read_csv(candy_file)

candy_data

,competitorname,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent
0,100 Grand,1,0,1,0,0,1,0,1,0,0.732,0.860,66.971725
1,3 Musketeers,1,0,0,0,1,0,0,1,0,0.604,0.511,67.602936
2,One dime,0,0,0,0,0,0,0,0,0,0.011,0.116,32.261086
3,One quarter,0,0,0,0,0,0,0,0,0,0.011,0.511,46.116505
4,Air Heads,0,1,0,0,0,0,0,0,0,0.906,0.511,52.341465
...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,Twizzlers,0,1,0,0,0,0,0,0,0,0.220,0.116,45.466282
81,Warheads,0,1,0,0,0,0,1,0,0,0.093,0.116,39.011898
82,WelchÕs Fruit Snacks,0,1,0,0,0,0,0,0,1,0.313,0.313,44.375519
83,WertherÕs Original Caramel,0,0,1,0,0,0,1,0,0,0.186,0.267,41.904308
84,Whoppers,1,0,0,0,0,1,0,0,1,0.872,0.848,49.524113

In [22]:
#Filter chocoalte subset
chocolate_subset=candy_data[candy_data['chocolate']==1]

#Filter fruity subset
fruity_subset=candy_data[candy_data['fruity']==1]

#Filter for caramel
caramel_subset=candy_data[candy_data['caramel']==1]

#Filter for peanutyalmondy
peanutyalmondy_subset=candy_data[candy_data['peanutyalmondy']==1]

#Filter for nougat
nougat_subset=candy_data[candy_data['nougat']==1]

#Filter for crispedricewafer
crispedricewafer_subset=candy_data[candy_data['crispedricewafer']==1]

#Filter for hard
hard_subset=candy_data[candy_data['hard']==1]

bar_subset=candy_data[candy_data['bar']==1]

pluribus_subset=candy_data[candy_data['pluribus']==1]

chocolate_subset.head()

,competitorname,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent
0,100 Grand,1,0,1,0,0,1,0,1,0,0.732,0.860,66.971725
1,3 Musketeers,1,0,0,0,1,0,0,1,0,0.604,0.511,67.602936
5,Almond Joy,1,0,0,1,0,0,0,1,0,0.465,0.767,50.347546
6,Baby Ruth,1,0,1,1,1,0,0,1,0,0.604,0.767,56.914547
10,Charleston Chew,1,0,0,0,1,0,0,1,0,0.604,0.511,38.975037

In [23]:
 # Place all of the data found into a summary DataFrame
type_totals = pd.DataFrame({"Chocolate": [len(chocolate_subset)],
                              "Fruity": [len(fruity_subset)],
                              "Caramel": [len(caramel_subset)],
                              "Peanutyalmondy": [len(peanutyalmondy_subset)],
                                "Nougat": [len(nougat_subset)],
                                 "Crispedricewafer": [len(crispedricewafer_subset)], 
                            "Hard": [len(hard_subset)],
                           "Bar": [len(bar_subset)],
                           "Pluribus": [len(pluribus_subset)]})

type_totals

,Chocolate,Fruity,Caramel,Peanutyalmondy,Nougat,Crispedricewafer,Hard,Bar,Pluribus
0,37,38,14,14,7,7,15,21,44

In [18]:
top_ten=candy_data.sort_values(by=['winpercent'], ascending=False)
top_ten=top_ten[0:10]
top_ten

,competitorname,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent
52,ReeseÕs Peanut Butter cup,1,0,0,1,0,0,0,0,0,0.720,0.651,84.180290
51,ReeseÕs Miniatures,1,0,0,1,0,0,0,0,0,0.034,0.279,81.866257
79,Twix,1,0,1,0,0,1,0,1,0,0.546,0.906,81.642914
28,Kit Kat,1,0,0,0,0,1,0,1,0,0.313,0.511,76.768600
64,Snickers,1,0,1,1,1,0,0,1,0,0.546,0.651,76.673782
53,ReeseÕs pieces,1,0,0,1,0,0,0,0,1,0.406,0.651,73.434990
36,Milky Way,1,0,1,0,1,0,0,1,0,0.604,0.651,73.099556
54,ReeseÕs stuffed with pieces,1,0,0,1,0,0,0,0,0,0.988,0.651,72.887901
32,Peanut butter M&MÕs,1,0,0,1,0,0,0,0,1,0.825,0.651,71.465050
42,Nestle Butterfinger,1,0,0,1,0,0,0,1,0,0.604,0.767,70.735641

In [19]:
bottom_ten=candy_data.sort_values(by=['winpercent'])
bottom_ten=bottom_ten[0:10]
bottom_ten

,competitorname,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent
44,Nik L Nip,0,1,0,0,0,0,0,0,1,0.197,0.976,22.445341
7,Boston Baked Beans,0,0,0,1,0,0,0,0,1,0.313,0.511,23.417824
12,Chiclets,0,1,0,0,0,0,0,0,1,0.046,0.325,24.524988
72,Super Bubble,0,1,0,0,0,0,0,0,0,0.162,0.116,27.303865
26,Jawbusters,0,1,0,0,0,0,1,0,1,0.093,0.511,28.127439
57,Root Beer Barrels,0,0,0,0,0,0,1,0,1,0.732,0.069,29.703691
71,Sugar Daddy,0,0,1,0,0,0,0,0,0,0.418,0.325,32.230995
2,One dime,0,0,0,0,0,0,0,0,0,0.011,0.116,32.261086
70,Sugar Babies,0,0,1,0,0,0,0,0,1,0.965,0.767,33.437550
19,Haribo Happy Cola,0,0,0,0,0,0,0,0,1,0.465,0.465,34.158958

In [25]:
# Place top ten summary into dataFrame
top_totals = pd.DataFrame({"Chocolate": [len(top_ten[top_ten['chocolate']==1])],
                              "Fruity": [len(top_ten[top_ten['fruity']==1])],
                              "Caramel": [len(top_ten[top_ten['caramel']==1])],
                              "Peanutyalmondy": [len(top_ten[top_ten['peanutyalmondy']==1])],
                                "Nougat": [len(top_ten[top_ten['nougat']==1])],
                                 "Crispedricewafer": [len(top_ten[top_ten['crispedricewafer']==1])], 
                            "Hard": [len(top_ten[top_ten['hard']==1])],
                           "Bar": [len(top_ten[top_ten['bar']==1])],
                           "Pluribus": [len(top_ten[top_ten['pluribus']==1])]})

top_totals

,Chocolate,Fruity,Caramel,Peanutyalmondy,Nougat,Crispedricewafer,Hard,Bar,Pluribus
0,10,0,3,7,2,2,0,5,2

In [24]:
# Place bottom ten summary into dataFrame
bottom_totals = pd.DataFrame({"Chocolate": [len(bottom_ten[bottom_ten['chocolate']==1])],
                              "Fruity": [len(bottom_ten[bottom_ten['fruity']==1])],
                              "Caramel": [len(bottom_ten[bottom_ten['caramel']==1])],
                              "Peanutyalmondy": [len(bottom_ten[bottom_ten['peanutyalmondy']==1])],
                                "Nougat": [len(bottom_ten[bottom_ten['nougat']==1])],
                                 "Crispedricewafer": [len(bottom_ten[bottom_ten['crispedricewafer']==1])], 
                            "Hard": [len(bottom_ten[bottom_ten['hard']==1])],
                           "Bar": [len(bottom_ten[bottom_ten['bar']==1])],
                           "Pluribus": [len(bottom_ten[bottom_ten['pluribus']==1])]})

bottom_totals

,Chocolate,Fruity,Caramel,Peanutyalmondy,Nougat,Crispedricewafer,Hard,Bar,Pluribus
0,0,4,2,1,0,0,2,0,7

In [26]:
top_sugar=candy_data.sort_values(by=['sugarpercent'], ascending=False)
top_sugar=top_sugar[0:10]
top_sugar

,competitorname,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent
54,ReeseÕs stuffed with pieces,1,0,0,1,0,0,0,0,0,0.988,0.651,72.887901
70,Sugar Babies,0,0,1,0,0,0,0,0,1,0.965,0.767,33.437550
38,Milky Way Simply Caramel,1,0,1,0,0,0,0,1,0,0.965,0.860,64.353340
61,Skittles wildberry,0,1,0,0,0,0,0,0,1,0.941,0.220,55.103695
60,Skittles original,0,1,0,0,0,0,0,0,1,0.941,0.220,63.085140
17,Gobstopper,0,1,0,0,0,0,1,0,1,0.906,0.453,46.783348
4,Air Heads,0,1,0,0,0,0,0,0,0,0.906,0.511,52.341465
8,Candy Corn,0,0,0,0,0,0,0,0,1,0.906,0.325,38.010963
34,Mike & Ike,0,1,0,0,0,0,0,0,1,0.872,0.325,46.411716
84,Whoppers,1,0,0,0,0,1,0,0,1,0.872,0.848,49.524113

In [27]:
bottom_sugar=candy_data.sort_values(by=['sugarpercent'])
bottom_sugar=bottom_sugar[0:10]
bottom_sugar

,competitorname,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent
2,One dime,0,0,0,0,0,0,0,0,0,0.011,0.116,32.261086
3,One quarter,0,0,0,0,0,0,0,0,0,0.011,0.511,46.116505
51,ReeseÕs Miniatures,1,0,0,1,0,0,0,0,0,0.034,0.279,81.866257
30,Lemonhead,0,1,0,0,0,0,1,0,0,0.046,0.104,39.141056
12,Chiclets,0,1,0,0,0,0,0,0,1,0.046,0.325,24.524988
66,Sour Patch Kids,0,1,0,0,0,0,0,0,1,0.069,0.116,59.863998
67,Sour Patch Tricksters,0,1,0,0,0,0,0,0,1,0.069,0.116,52.825947
48,Pixie Sticks,0,0,0,0,0,0,0,0,1,0.093,0.023,37.722336
26,Jawbusters,0,1,0,0,0,0,1,0,1,0.093,0.511,28.127439
81,Warheads,0,1,0,0,0,0,1,0,0,0.093,0.116,39.011898